@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Lato", sans-serif;
}

button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.2px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}

h3 {
  font-weight: bold;
  font-size: 32px;
}

h4 {
  font-weight: bold;
  font-size: 24px;
}

h5 {
  font-weight: bold;
  font-size: 20px;
}

h6 {
  font-weight: bold;
  font-size: 18px;
}
